<div class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a href="" class="navbar-brand">ShoppApp</a>
        <ul class="navbar-nav mr-auto"> <!-- mr : sol taraftan başlamasını sağladı : r : sag anlamında analamadım.-->
            <li class="navbar-nav">
                <a routerLink="/shop" class="nav-link active">Home</a>
            </li>
            <li class="navbar-nav">
                <a routerLink="/cart" class="nav-link">Cart</a>
            </li>
            <li class="navbar-nav">
                <a routerLink="/shop" class="nav-link">Orders</a>
            </li>
            <li class="navbar-nav">
                <!--<a routerLink="/admin" class="nav-link">Admin</a>  Burada yazdığım /admin = router içindeki path kısmına bakıyor ve component ve dinamik olmasına göre de yönlendirme işlemini gerçekleştiriyor. -->
                <!-- Biz kullanıcıyı admin main sayfasına gönderelim eğer tokenı yok ise == auth guard kullanıcıyı otomatik admin/auth sayfasına yönlendirecektir. var isede birdaha login olması için uğraştırmayacaktır.-->
                <a routerLink="/admin/main" class="nav-link">Admin</a> 
            </li>
        </ul>
        <ul class="navbar-nav ml-auto"> 
            <li class="navbar-nav">
                <a href="" class="nav-link active">Login</a>
            </li>
            <li class="navbar-nav">
                <a href="" class="nav-link active">Register</a>
            </li>
            <li class="navbar-nav">
                <a href="" class="nav-link active">Logout</a>
            </li>
        </ul>
    </div>
</div>

<!--
    fixed-top : yukarıya sabitlensin
    navbar-dark : beyaz yazı
    bg-primary : arka planın mavi olması
    fixed-top = sayfayı aşşağı indirdiğmizde bile navbarın görülmesi için: sabit bir şekilde.

    li.navbar-nav*3 == dediğimde == <li class="navbar-nav"></li> : den 3 tane oluşturur.
-->